{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h3>Upload File</h3><hr>
</div>
<div class="col-md-6">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>File Upload</label>
            <input type= "file" required name="fileupload" class="form-group">
        </div>
        <div class="form-group">
            <label >File Type</label>
            <select name="filetype" class="form-group" required>
                <option value="PDF">PDF</option>
                <option value="PPT">PPT</option>
                <option value="DOCX">DOCX</option>
                <option value="CSV">CSV</option>
                <option value="XLSX">XLSX</option>
                <option value="JPG">JPG</option>
                <option value="PNG">PNG</option>
            </select>
            <label for="" name="description">Description</label>
        </div>
    </form>
</div>
{% endblock body %}